<p>header works!</p>
<div class="header">
    <ul class="menu">
        <li>
            <img class="logo" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/22f79e0f-8bdb-4e8c-a6cd-52be10570b22/d4q73m4-8161b1f4-0976-44d5-81f4-dd165ece8060.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzIyZjc5ZTBmLThiZGItNGU4Yy1hNmNkLTUyYmUxMDU3MGIyMlwvZDRxNzNtNC04MTYxYjFmNC0wOTc2LTQ0ZDUtODFmNC1kZDE2NWVjZTgwNjAuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.QiJaasGKyJa9az-rPvwIRfhqGnOpFKQImFL2BhdgYQs">
        </li>
        <li>link 1</li>
        <li>link 2</li>
        <li>link 3</li>
        <li>link 4</li>
    </ul>
</div>